.title p{
    font-family:'Hiragino Kaku Gothic ProN';
    font-size: 70px;
    margin-left: 15%;
    margin-top: 10%;
    position: absolute;
}

body{
    background-image: url("stadium.jpg");
}

.title .image_index{
    margin-left: 62%;
    margin-top:12%;
    /*width: 500px;*/
    position: absolute;
}

.title .image_title{
    margin-left:10%;
    margin-top:10%;
    position: absolute;
}

.title .image_subtitle{
    margin-left:10%;
    margin-top:18%;
    position: absolute;
}

.title .link{
    text-decoration: none;
    color: black;
    background-color: rgb(126, 204, 8);
    font-size: 40px;
    margin-left: 25%;
    margin-top: 28%;
    position: absolute;
    padding: 15px;
    border-radius: 20px;
    border-bottom: solid 4px #0d7e2a;
}

.title .link:active{
    border-bottom: none;
    -webkit-transform: translateY(4px);
}

.tutorial .video1{
    text-align: center;
    position: relative;
}

.tutorial h1{
    text-align: center;
    font-size: 50px;
    position: relative;
}

img.link2{
    text-decoration: none;
    color: black;
    margin-left: 50%;
    position: relative;
    margin-top: 150px;
    transform:translate(-50%,-50%);
    font-size: 40px;
}

img.link2:hover{
    cursor: pointer;
    opacity: 0.8;
}

.camera {
    margin: 0 auto;
    text-align: center;
}